:root {
    --blue: #93c9ff;
    --blueL: #fafdff;
    --blueD: #baeaff;
    --shadow: rgba(85, 119, 222, 0.35);
    --shadowb: rgba(85, 119, 222, .25);
}

/* var(--blue) */
/* var(--blueD) */
/* var(--blueL) */
body {
    background-color: var(--blueL);
    /* background-image: url('https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?w=1800&t=st=1660760057~exp=1660760657~hmac=8a5d19f471d1014326c8eab38b13764e66df8a3113521797f55e0f587e7b0933'); */
}

.Header-logo {
    margin-left: 20px;
}

.header-div {
    width: 100%;
    height: 87px;
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    z-index: 7;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.Heading {
    position: absolute;
    top: 16px;
    font-size: 16px;
    margin-left: 125px;
    margin-top: 5px;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    font-size: 220%;
    font-weight: 250;
    color: rgb(255, 255, 255);
}

.login-btn {
    position: absolute;
    bottom: 1.5em;
    right: 1em;
    /* background-color: #c2d5fb; */
    background-color:var(--blueL);
    border-radius: 100px;
    /* box-shadow: rgba(85, 119, 222, 0.305) 0 -25px 18px -14px inset, rgba(85, 119, 222, .15) 0 1px 2px, rgba(85, 119, 222, .15) 0 2px 4px, rgba(85, 119, 222, .15) 0 4px 8px, rgba(85, 119, 222, 0.15) 0 8px 16px, rgba(85, 119, 222, 0.15) 0 16px 32px; */
    box-shadow: var(--shadow) 0 -25px 18px -14px inset, var(--shadowb) 0 1px 2px, var(--shadowb) 0 2px 4px, var(--shadowb) 0 4px 8px, var(--shadowb) 0 8px 16px, var(--shadowb) 0 16px 32px;
    color: rgb(8, 26, 106);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 25px;
}

.login-btn:hover {
    box-shadow: var(--shadow) 0 -25px 18px -14px inset, var(--shadowb) 0 1px 2px, var(--shadowb) 0 2px 4px, var(--shadowb) 0 4px 8px, var(--shadowb) 0 8px 16px, var(--shadowb) 0 16px 32px;
    transform: scale(1.07);
}

.login-btn:active {
    opacity: 0.5;
}

.Description {
    background-image: url('https://img.freepik.com/free-vector/white-background-with-triangle-patterns_1017-18410.jpg?w=1800&t=st=1660760057~exp=1660760657~hmac=8a5d19f471d1014326c8eab38b13764e66df8a3113521797f55e0f587e7b0933');
    position: absolute;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.2rem;
    height: 1000px;
    top: 107px;
    left: 20px;
    right: 20px;
    bottom: 40x;
    padding: 10px;
    border-radius: 15px;
    /* background-color: rgb(255, 255, 255); */
    /* background-image: linear-gradient(90.07deg, #A265F2 -16.29%, #985EFF -9.5%, #EA9A91 118.76%, rgba(225, 147, 157, 0.77) 127.64%); */
    /* background-clip: text;
    -webkit-background-clip: text; */
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    /* font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif; */
    /* background-color: rgb(143, 185, 239); */
    /* box-shadow: rgba(85, 119, 222, 0.35) 0 -25px 18px -14px inset, rgba(85, 119, 222, .25) 0 1px 2px, rgba(85, 119, 222, .25) 0 2px 4px, rgba(85, 119, 222, .25) 0 4px 8px, rgba(85, 119, 222, .25) 0 8px 16px, rgba(85, 119, 222, .25) 0 16px 32px; */
    box-shadow: var(--shadow) 0 -25px 18px -14px inset, var(--shadowb) 0 1px 2px, var(--shadowb) 0 2px 4px, var(--shadowb) 0 4px 8px, var(--shadowb) 0 8px 16px, var(--shadowb) 0 16px 32px;

}

.Header-logo {
    position: relative;
    left: 6px;
    max-width: 90px;
    height: auto;
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}




