.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    font-family:"Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif ;

}

.slider
{
    /* position: absolute; */
    height:200px;
    width: 500px;
    top: 200px;
    margin: auto;
    /* margin-right: 100px;
    margin-left: 100px; */
    border: 3px solid rgb(0, 0, 0);
    /* border-color: black; */
    padding: 20px;
    /* background:linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(237,255,0,1) 50%, rgba(5,214,0,1) 100%); */
    background-color: aqua;
    border-radius: 10px;
    
}
.precautions
{
    padding: 10px;
    position: absolute;
    height: 200px;
    width: auto;
    top: 500px;
    right: 20px;
    left: 20px;
    /* bottom: 20px; */
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 10px;

}
